@mixin fixedWidthContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

@mixin bodyTextS {
  font-size: 0.8rem;
  line-height: 140%;
}

@mixin bodyTextM {
  font-size: 1rem;
  line-height: 140%;
}

@mixin bodyTextL {
  font-size: 1.2rem;
  line-height: 120%;
}

@mixin bodyTextXL {
  font-size: 1.4rem;
  line-height: 120%;

  @media screen and (min-width: 700px) {
    font-size: 1.6rem;
  }
}

@mixin textLink {
  color: $link;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: lighten($link, 10);
  }

  &:focus {
    color: white;
    background: $focus;
    outline: 2px solid $focus;
  }
}
