* {
  box-sizing: border-box;
  @include fontFamily;
  line-height: 1.4;
}

body {
  background: $bg;
  // background-image: url("https://uploads-ssl.webflow.com/602684bac0826252920afbb4/6026df971769662a4b6100b0_Screenshot%202021-02-12%20at%2020.04.41.png");
  // background-image: url("./memphis-mini.png");
  // background-image: url("./dot-grid.png");
}

h1,
h2,
h3,
h4,
h5,
p,
label,
legend {
  color: $text;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

p a {
  @include textLink;
}
