@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

@import "_base";
@import "_mixins";
@import "globals";

.bigText {
  @include bodyTextL;
}

.visually-hidden {
  font-size: 0;
  opacity: 0;
  position: absolute;
}
