@import "../styles/_base";

.ul {
  margin: 0;
  padding: 0;
}

.li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  padding: 20px 0px;
  border-bottom: 2px solid $bg;

  svg {
    width: 100px;
    height: 100px;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.inner {
  * {
    margin: 0;
  }

  * + * {
    margin-top: 0.5rem;
  }

  p {
    color: $grey2;
  }
}
