@import "../styles/_base";

.section {
  border-radius: 10px;
  background: white;
  box-shadow: 0px 5px 10px transparentize($text, 0.85);

  animation: fadeIn 0.2s ease-out;
  animation-delay: 0.1s;
  opacity: 0;
  animation-fill-mode: forwards;

  & + section {
    margin-top: 1.5rem;
  }
}

.inner {
  padding: 25px;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 700px) {
    padding: 35px;
  }
}

@mixin header {
  padding: 7px 10px;
  border-radius: 10px 10px 0px 0px;
}

.headerBlack {
  @include header;
  background-color: $text;
  h2 {
    color: white;
  }
}

.headerGlass {
  @include header;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  h2 {
    color: $text;
  }
}

.headerBlue {
  @include header;
  background-color: $focus;
  h2 {
    color: white;
  }
}
.headerYellow {
  @include header;
  background-color: $yellow;
  h2 {
    color: $text;
  }
}

.heading {
  @include bodyTextS;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}
