@import "../styles/_base";

@mixin section {
  border-radius: 10px;

  & + section {
    margin-top: 1rem;
  }

  *:first-child {
    margin-top: 0;
  }

  animation: fadeIn 0.3s ease-out;
}

.section {
  @include section;
  background: white;
  box-shadow: 0px 5px 10px transparentize($text, 0.85);
}

.glassSection {
  @include section;
  // background: transparentize(white, 0.5);
  border: 2px solid white;
}

.inner {
  padding: 25px;

  @media screen and (min-width: 700px) {
    padding: 35px;
  }
}

@mixin header {
  padding: 7px 10px;
  border-radius: 10px 10px 0px 0px;
}

.headerBlack {
  @include header;
  background-color: $text;
  h2 {
    color: white;
  }
}

.headerGlass {
  @include header;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  h2 {
    color: $text;
  }
}

.headerBlue {
  @include header;
  background-color: $focus;
  h2 {
    color: white;
  }
}
.headerYellow {
  @include header;
  background-color: $yellow;
  h2 {
    color: $text;
  }
}

.heading {
  @include bodyTextS;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}
