@import "../styles/_base";

.fieldset {
  * + * {
    margin-top: 1rem;
  }
}

.legend {
  @include bodyTextXL;
  font-weight: bold;
  margin-bottom: 1rem;
}

.panel {
  position: relative;
  background: $bg;
  border-radius: 10px;
  padding: 15px;
  padding-left: 55px;
  box-shadow: 0px 0px 0px 0px transparent;
  transition: box-shadow 0.1s ease-out;

  &:focus-within {
    box-shadow: 0px 0px 0px 3px $focus;
  }
}

.label {
  @include bodyTextL;
  font-weight: bold;
  cursor: pointer;

  //   ring
  &:before {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    border: 2px solid $grey3;
    border-radius: 100%;
    transition: 0.2s ease-out;
  }

  //   checkmark
  &:after {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 14px;
    height: 14px;
    content: "";
    display: block;
    background: $text;
    border-radius: 100%;
    opacity: 0;
  }
}

.input {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;

  &:active + label:before {
    border-color: $text;
  }

  &:checked + label {
    &:before {
      border-color: $text;
    }

    &:after {
      opacity: 1;
    }
  }
}

.hint p {
  @include bodyTextM;
  color: $grey2;
}

.help {
  margin-bottom: 2rem;

  summary {
    color: $link;
    cursor: pointer;
    margin-bottom: 0.75rem;

    // might not work everywhere
    display: inline flow-root list-item;

    &:focus {
      background: $focus;
      outline: 3px solid $focus;
      color: white;
    }

    &:text {
      text-decoration: underline;
    }
  }
}

.helpText {
  color: $text;
  @include bodyTextM;
  margin-left: 2px;
  padding-left: 10px;
  border-left: 3px solid $bg;
}
